body {
        font: 20px Arial,sans-serif;
        margin: 0px;
    }
    header {
		height: 125px;
        padding: 10px 20px;
    }
    header h1 {
		margin-left: 220px;
        font-size: 44px;
    }
	.user {
		float: right;
		height: 60px;
		width: 60px;
		margin-right: 50px;
	}
    .container {
        width: 100%;
    }
    nav, section {
		height: 100%;
        float: left;
        padding: 20px;
        min-height: 170px;
        box-sizing: border-box;
    }
    section {
        width: 80%;
    }
    nav {
        width: 15%;           
		text-align: center;
		border-right: 1px solid black;
    }  
    nav ul {
        list-style: none;
        line-height: 24px;
        padding: 0px;
    }
    nav ul li a {
        color: #333;
    }
    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    .search{
        height: 200px;
        display:inline;
    }
    #query{
        height: 55px;
        width: 550px;
        margin-left: 430px;
    }
    #queryBtn{
        height: 55px;
        width: 75px;
    }
    #addlender{
        margin-left: 950px;
        margin-top: 500px;
    }
